In [1]:
import pandas as pd
import os

In [4]:
high_school_list=["Herndon", "South Lakes", "Langley"]
high_school_location=["Herndon", "Reston", "McLean"]
school_dataframe=pd.DataFrame()
school_dataframe["School Name"]=high_school_list
school_dataframe["School Location"]=high_school_location

In [5]:
school_dataframe

   School Name School Location
0      Herndon         Herndon
1  South Lakes          Reston
2      Langley          McLean

In [8]:
school_dataframe.columns

Index(['School Name', 'School Location'], dtype='object')

In [9]:
school_dataframe.values

array([['Herndon', 'Herndon'],
       ['South Lakes', 'Reston'],
       ['Langley', 'McLean']], dtype=object)

In [10]:
school_dataframe.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
school_data_to_load="Resources/schools_complete.csv"
student_data_to_load